@use './../../../../../Styles/index.scss' as *;

.skill-details-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-xl) var(--space-lg);
    margin: var(--space-lg) 0 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: var(--space-lg);
    border: 1px solid var(--border);
    background-color: var(--secondary-bg);
    border-radius: 5px;
    transition: all 5s ease-in;
    overflow: hidden;

    @include mobile {
        padding: var(--space-sm);
    }

    @include smallDevice {
        padding: var(--space-xs);
    }



    .skill-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;

        .skill-header {
            font-size: var(--font-xxl);

            @include mobile {
                font-size: var(--font-md);
            }

            @include smallDevice {
                font-size: var(--font-xs);
            }
        }


        button {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;


            @include mobile {
                font-size: var(--font-xs);
                padding: var(--space-tiny);
            }
        }


    }

    .skills-stack-header {
        font-size: var(--font-lg);
        flex: 1;
        min-width: 100%;
    }

    .skills-tech-stack {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid var(--border);
        padding: var(--space-xs);

        td,
        th {
            padding: var(--space-xs) var(--space-lg);
            text-align: center;
            text-transform: capitalize;

            @include mobile {
                font-size: var(--font-tiny);
                padding: var(--space-xxs) 1px;
            }

            @include smallDevice {
                font-size: var(--font-tiny);
            }
        }

        th {
            text-transform: uppercase;
            background-color: var(--third-bg);
        }

        tbody {


            tr:nth-child(even) {
                background-color: var(--third-bg);

            }

            .edited {
                background-color: green;
            }

            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--space-xs);
                width: 100%;

                button {
                    padding: var(--space-xs);

                    @include mobile {
                        font-size: var(--font-xxs);
                        padding: var(--space-xxs);
                    }

                    @include smallDevice {
                        font-size: var(--font-tiny);
                    }
                }

            }
        }
    }

    .skills-stack-input {
        min-width: 100%;
        margin-top: var(--space-lg);

        .select {
            margin-top: var(--space-lg);
        }

    }

    button {
        margin: 0;
        font-size: var(--font-md);

        @include mobile {
            font-size: var(--font-xs);
            padding: var(--space-tiny);
        }
    }





}