 @use './../../../Styles/index.scss' as *;

 .form__input {
     flex: 1;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: var(--space-xs);
     position: relative;

     &.flex-2 {
         flex: 2;
     }

     @include mobile {
         gap: var(--space-xs);
         //   margin-bottom: var(--space-sm);
     }


     .input__wrapper {
         position: relative;

         .input__emoji {
             cursor: pointer;
             position: absolute;
             top: 0;
             right: 0;
             display: flex;
             justify-content: center;
             align-items: center;
             aspect-ratio: 1/1;
             height: 100%;
             z-index: 15;
         }



         & input {
             width: 100%;
             padding: var(--space-md);
             background-color: transparent;
             background-color: var(--bg-color);
             background-color: inherit;
             border-radius: 2px;
             border: 1px solid var(--border);
             outline: 1px solid transparent;
             color: var(--white);
             min-width: 200px;
             font-size: var(--font-lg);

             &:focus {
                 outline: 1px solid var(--green);
             }



             @include tablet {
                 padding: var(--space-md);
                 min-width: 180px;
                 font-size: var(--font-md);
             }

             @include mobile {
                 padding: var(--space-sm);
                 font-size: var(--font-xs);
                 min-width: 200px;
             }
         }


     }

     &.warn input {
         outline: 1px solid var(--warn);

         &:focus {
             outline: 1px solid var(--warn);
         }
     }

     .warning {
         color: var(--red);
         position: absolute;
         bottom: 0;
         left: 0;
         color: var(--red);
         width: fit-content;
         background-color: var(--bg-color);
        //  background-color: inherit;
         padding: 0 var(--space-xxs);
         transition: all .3s ease-in-out;
         opacity: 0;
         transform: translate(5%, 150%);
         font-size: var(--font-sm);

         @include tablet {
             font-size: var(--font-xs);
         }

         @include mobile {
             font-size: var(--font-xxs);
         }
     }

     &.warn .warning {
         display: block;
         transform: translate(5%, 50%);
         opacity: 1;
     }


 }