@use './../../../Styles/index.scss' as *;

.wizard-footer {
    width: 100%;
    // max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-lg) 0;


    @include mobile {
        padding: var(--space-sm) 0;
    }

    @include smallDevice {
        padding: var(--space-xs) 0;
    }


    &__back-button,
    &__next-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-xs);
        cursor: pointer;
        transition: opacity .2s ease-in-out;
        padding: var(--space-xs);

        &:hover {
            opacity: .7;
        }

        & i {
            font-size: var(--font-tiny);
        }

        @include mobile {
            font-size: var(--font-xs);
        }
    }

    &__next-button {
        background-color: var(--green);
        color: var(--black);
        font-family: var(--lato);
        border-radius: 5px;
    }
}