.dashboard__info {
    width: 100%;

    &__header {
        font-size: var(--font-xl);
        // margin-top: var(--space-xxl);
    }

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--space-xxl);

        h1 {
            font-size: var(--font-xxl);
        }

        p {
            font-size: var(--font-md);
        }

        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-sm);

            button:nth-child(2) {
                background-color: var(--secondary-bg);
                color: var(--white);
                border: 1px solid var(--border);
            }
        }
    }

    &__stats-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: var(--space-lg) 0;
        gap: var(--space-lg);
        align-items: stretch;
        overflow: hidden;

        &__card {
            width: 100%;
            border: 1px solid var(--border);
            border-radius: 10px;
            padding: var(--space-lg);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-xxl);
            background-color: var(--hover-color);

            .icon {
                font-size: var(--space-giant);
                padding: var(--space-lg);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #4ade8042;
                border-radius: 50%;
            }

            .stats {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: var(--font-giant);
                }

                p {
                    font-size: var(--font-lg);
                }
            }
        }
    }

}