:root {
  --text-color: white;
  --white: white;
  --border: rgba(128, 128, 128, 0.326);
  --green: #4ade80;
  --black: var(--bg-color);
  --red: red;
  --warn: var(--red);
  --light-gray: rgba(128, 128, 128, 0.384);
  --light-bg: #222223;



  --bg-color: #0b0b0b;
  --secondary-bg: #171717;
  --third-bg: #373737;

  --hover-color: #262626;
}