@use './../../../Styles/index.scss' as *;

.checkbox {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__label {
        flex: 1;
        text-transform: capitalize;
        margin-bottom: var(--space-sm);
    }

    &.warn &__label {
        // color: var(--red);
    }

    &__values {
        display: flex;
        align-items: center;
        gap: var(--space-xxs) var(--space-lg);
        width: fit-content;
        flex-wrap: wrap;
    }

    &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-md);

        @include tablet {
            gap: var(--space-xs);
        }

        @include mobile {
            gap: var(--space-xxs);
        }
    }

    &__warning {
        position: absolute;
        bottom: -45%;
        left: 0;
        color: var(--warn);
        display: none;
    }

    &.warn &__warning {
        display: block;
    }


}