@use './../../../Styles/index.scss' as *;

.auth-required {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-lg);

    h1 {
        font-size: var(--font-huge);
        text-align: center;

        @include mobile {
            font-size: var(--font-lg);
        }

        @include smallDevice {
            font-size: var(--font-xs);
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-sm);

        @include mobile {
            flex-direction: column;
        }
    }
}