@use '../../../../Styles/index.scss' as *;

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-lg) 0;
    position: sticky;
    bottom: 0;
    background-color: var(--bg-color);

    @include mobile {
        padding: var(--space-md) 0 var(--space-md);
    }

    @include smallDevice {
        padding: var(--space-sm) 0 var(--space-sm);
    }


    button {
        @include mobile {
            font-size: var(--font-xs);
        }
        @include smallDevice {
            font-size: var(--font-tiny);
        }
    }



}